<!-- create_role.html -->

<!doctype html>


<html>

  {% extends "layout.html" %}
{% block title %}DCIT Task Tracker{% endblock %}
{% block page %}DCIT Task Tracker{% endblock %}
{{ super() }}


{% block content %}
<style>
h1{
  color:white;
}

label{
  color:white;
}

</style>
  <head>
    <title>Create Committee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Create Committee</h1>
      <br><br>
      {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
      {% endfor %}
      <form method="POST" action="{{ url_for('user_views.create_role') }}">
        <label for="role_name">Committee Name:</label>
        <input type="text" name="role_name" required><br>
        <input type="submit" value="Create Committee" class="btn btn-primary mt-3" style="background-color:#05888f">
      </form>
    </div>
  </body>
  {% endblock %}
</html>