<!-- home.html -->
<!doctype html>
<html>

<head>
  <!-- ... -->
  <!-- FullCalendar dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
  <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Task Delegation App</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user_views.logout') }}">Logout</a>
          <a class="nav-link" href="{{ url_for('user_views.home') }}">Home</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container">
    <!-- ... -->
    {% if current_user.is_authenticated %}
    <div id="calendar" class="mt-5"></div>
    {% endif %}
  </div>

  <div class="container">
    <h1 class="mt-5">Welcome to Task Delegation App</h1>

    {% if current_user.is_authenticated %}
    <a class="btn btn-primary mt-3" href="{{ url_for('user_views.view_tasks') }}">View Tasks</a>
    <a class="btn btn-secondary mt-3" href="{{ url_for('user_views.user_settings') }}">User Settings</a>
    {% if current_user.has_roles('Admin') %}
    <a class="btn btn-secondary mt-3" href="{{ url_for('user_views.assign_task') }}
    ">Delegate Tasks</a>
    <a class="btn btn-info mt-3" href="{{ url_for('user_views.create_role') }}">Create Role</a>
    <a class="btn btn-danger mt-3" href="{{ url_for('user_views.remove_role') }}">Remove Role</a>
    <a class="btn btn-warning mt-3" href="{{ url_for('user_views.remove_user_role') }}">Remove Role from User</a>
    {% endif %}
    {% else %}
    <a class="btn btn-primary mt-3" href="{{ url_for('user_views.login') }}">Login</a>
    <a class="btn btn-secondary mt-3" href="{{ url_for('user_views.signup') }}">Sign Up</a>
    {% endif %}
  </div>
</body>

</html>
