<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        
        <title>{% block title %}DCIT Task Tracker{% endblock %}</title>
      </head>
<style>
.landing{
    text-align: center;
    height: 100vh;
    background-image: url("{{url_for('static', filename='landing.png')}}");
    background-size:cover;
    width:100vw;
  }

  .container{
 
   
  }
 </style>

 <body>
    <div class= "landing">
      <br>
      <br>
        <h2 style="color:white"> Welcome to DCIT Task Tracker </h2>
        <div class ="container">    
      <a class="btn btn-primary mt-3" style="height: 40px; width:90px;" href="{{ url_for('user_views.login') }}">Login</a>
      <br>
      <a class="btn btn-secondary mt-3" style="background-color:#05888f; outline-color: #05888f;" href="{{ url_for('user_views.signup') }}">Sign Up</a>
  </div>
      <br>
    </div>
    </body>
    </html>  