<!-- no_tasks.html -->
<!doctype html>
<html>
  
{% extends "layout.html" %}
{% block title %}DCIT Task Tracker{% endblock %}
{% block page %}DCIT Task Tracker{% endblock %}
{{ super() }}


{% block content %}
  <head>
    <title>No Tasks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

  <style>
    body{
      color:white;
    }
    </style>
  <body>
    <div class="container" style="height: 100vh">
      <h1 class="mt-5">No tasks were given</h1>
      <a class="btn btn-primary mt-3" href="{{ url_for('user_views.home') }}" style="background-color:#05888f">Go to Home</a>
    </div>
  </body>
  {% endblock %}
</html>