{% extends "layout.html" %}
{% block title %}Remove Task from Role{% endblock %}
{% block page %}Remove Task from Role{% endblock %}
{% block content %}
<div class="container">
    <h2 class="mb-4">Remove Task from Role</h2>
    <form method="POST">
        <div class="form-group">
            <label for="task_id">Select Task:</label>
            <select class="form-control" id="task_id" name="task_id" onchange="updateButtonStatus()">
                <option value="">Select a task</option>
                {% for task in tasks %}
                <option value="{{ task.id }}">{{ task.title }} ({{ task.role.name }})</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-danger" id="removeTaskButton" disabled>Remove Task</button>
    </form>
</div>

{% endblock %}

{% block scripts %}
<script>
    function updateButtonStatus() {
        var taskSelect = document.getElementById("task_id");
        var removeTaskButton = document.getElementById("removeTaskButton");
        if (taskSelect.value) {
            removeTaskButton.disabled = false;
        } else {
            removeTaskButton.disabled = true;
        }
    }
</script>
{% endblock %}
