<!-- remove_role.html -->
<!doctype html>
<html>
  {% extends "layout.html" %}
{% block title %}DCIT Department Assistant{% endblock %}
{% block page %}DCIT Department Assistant{% endblock %}
{{ super() }}


{% block content %}
  <head>
    <title>Remove Committee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Remove Committee</h1>
      {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
      {% endfor %}
      <form method="POST" action="{{ url_for('user_views.remove_role') }}">
        <label for="role_id">Committee:</label>
        <select name="role_id">
          {% for role in roles %}
            <option value="{{ role.id }}">{{ role.name }}</option>
          {% endfor %}
        </select><br>
        <input type="submit" value="Remove Committee" class="btn btn-danger mt-3">
      </form>
    </div>
  </body>
  {% endblock %}
</html>