<!DOCTYPE html>
<style>
  .red-event {
  background-color: red;
  color: white;
}

#calendar{
  background-color:white;
  padding: 10px;
}

h2{
  color:rgb(0, 89, 255);
  float: center;
}

</style>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          events: {{ events|safe }},
          displayEventTime: false,
          eventClick: function(info) { 
            window.location.href = "{{ url_for('user_views.view_tasks') }}";
          }
        });
        calendar.render();
      });
    </script>
  </head>
  {% extends "layout.html" %}
{% block title %}DCIT Task Tracker{% endblock %}
{% block page %}DCIT Task Tracker{% endblock %}
{{ super() }}


{% block content %}
    <body>
       
    <div id='calendar'></div>

  </body>
  {% endblock %}
</html>
